/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v14-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-300 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"),
    url("../fonts/roboto-v20-latin-300.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v20-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto-v20-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --main-font: "Montserrat", sans-serif;
  --secondary-font: "Roboto", serif;
  /* --main-color: ;
  --secondary-color: ; */
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  display: block;
}

.header {
  padding-top: 20px;
  padding-bottom: 138px;
  font-family: var(--main-font);
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: rgb(26, 25, 21);
  background-image: url(../img/mobile.png);
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  width: 320px;
  margin: 0 auto;
}

.site-navigation {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 30px;
}

.sitelogo,
.log-in-btn,
.sing-up-btn,
.header-link,
.header-btn {
  color: #ffffff;
}

.sitelogo {
  font-size: 20px;
  text-transform: uppercase;
}

.sitelogo:hover {
  color: rgb(255, 78, 80);
}

.site-navigation-btn {
  margin-bottom: 112px;
}

.log-in-btn,
.sing-up-btn {
  font-size: 14px;
  font-weight: 700;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgba(26, 25, 21, 0);
  border-radius: 18px;
  width: 94px;
  height: 36px;
  transition: 0.2s;
}

.log-in-btn {
  border: 2px solid rgba(255, 255, 255, 0);
}

.log-in-btn:hover,
.sing-up-btn:hover {
  border: 2px solid rgb(255, 255, 255);
  box-shadow: inset 0 0 7px rgb(255, 255, 255);
}

.header-title {
  margin-bottom: 10px;
  font-size: 30px;
  text-transform: uppercase;
}

.header-text {
  margin: 0 44px;
  margin-bottom: 14px;
  font-family: var(--secondary-font);
  font-weight: 300;
  font-size: 18px;
}

.header-btn {
  border-radius: 20px;
  background-color: rgb(255, 78, 80);
  width: 280px;
  height: 40px;
  font-size: 14px;
}

.header-btn:hover {
  box-shadow: 0 0 5px rgb(255, 21, 25);
}

/* partner */
.partner {
  padding-top: 66px;
  text-align: center;
}

.partner-title,
.partner-list-item__name {
  font-family: var(--main-font);
  font-weight: 700;
  color: #333333;
}

.partner-title {
  font-size: 22px;
  margin-bottom: 18px;
}

.partner-list {
  margin-bottom: 30px;
}

.partner-list-item {
  width: 234px;
  margin: 0 auto;
}

@media (min-width: 320px) and (max-width: 767px) {
  .partner-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.partner-list-item__image {
  position: relative;
  margin-bottom: 20px;
}

.partner-list-item__name {
  font-size: 14px;
  margin-bottom: 14px;
}

.partner-list-item__about {
  font-family: var(--secondary-font);
  font-weight: 300;
  font-size: 14px;
  color: #666666;
}

.partner-list-item__image::after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  left: 144px;
  top: 86px;
  width: 40px;
  height: 40px;
}

.partner-list-item__image-first::after {
  background-color: #ff4e50;
  background-image: url(../img/icons/tv.png);
}

.partner-list-item__image-second::after {
  background-color: #ffa507;
  background-image: url(../img/icons/flask.png);
}

.partner-list-item__image-third::after {
  background-color: #1cd7ad;
  background-image: url(../img/icons/cup.png);
}

.partner-list-item__image-fourth::after {
  background-color: #4e73db;
  background-image: url(../img/icons/telegram.png);
}

.partner-btn {
  border: 2px solid #ff4e50;
  border-radius: 20px;
  background-color: #ffffff;
  width: 280px;
  height: 40px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  color: #ff4e50;
  margin-bottom: 56px;
}

.partner-btn:hover {
  background-color: #ff4e50;
  color: #ffffff;
}

@media (min-width: 321px) and (max-width: 768px) {
  .header {
    background-image: url(../img/tablet.png);
  }
}

@media (min-width: 768px) {
  .container {
    width: 748px;
  }

  .header {
    padding-bottom: 234px;
    padding-top: 38px;
  }

  .site-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0px 40px;
    margin-bottom: 136px;
  }

  .site-navigation-btn {
    margin-bottom: 0;
  }

  .header-inner {
    margin: 0 auto;
    width: 588px;
  }

  .header-title {
    margin-bottom: 30px;
    font-size: 50px;
  }

  .header-text {
    margin-bottom: 30px;
    font-size: 24px;
  }

  .header-btn {
    width: 226px;
    height: 40px;
  }

  .partner-title {
    margin-bottom: 28px;
  }

  .partner-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 128px;
    margin-bottom: 40px;
  }
}
@media (min-width: 769px) {
  .header {
    background-image: url(../img/desktop.png);
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .partner-list-item:nth-child(-n + 2) {
    margin-bottom: 54px;
  }

  .partner-list-item:nth-child(2n + 1) {
    margin-right: 20px;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 940px;
  }

  .site-navigation {
    margin: 0px auto;
    margin-bottom: 136px;
  }

  .partner-list {
    flex-wrap: nowrap;
    padding: 0;
  }

  .partner-list-item:not(:last-child) {
    margin-right: 20px;
  }
}
