html {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.container {
  width: 900px;
  margin: 0px auto;
}

ul {
  margin: 0px;
}

.site-nav {
  padding: 70px 164px 98px;
  text-align: center;
}

.site-nav li {
  display: inline-block;
  box-sizing: border-box;
  text-transform: uppercase;
  font-family: "Playfair Display Regular", serif;
  font-size: 14px;
  line-height: 24px;
}

.site-nav :not(:last-child) {
  margin-right: 100px;
}

a {
  text-decoration: none;
  color: #626262;
}

a:hover {
  text-decoration: none;
  color: #03a9f4;
}

a:focus {
  text-decoration: none;
  color: #03a9f4;
}

article {
  display: inline-block;
  box-sizing: border-box;
  width: 420px;
  margin-right: 56px;
  margin-bottom: 132px;
}

.right {
  margin-right: 0px;
}

img {
  display: block;
  margin-bottom: 30px;
  max-width: 100%;
  height: auto;
}

.title {
  text-transform: uppercase;
  font-family: "Ubuntu Light", serif;
  font-size: 14px;
  color: #b4ad9e;
}

p {
  margin: 0;
  font-family: "Playfair Display Regular", serif;
  color: #626262;
  line-height: 24px;
}

h2 {
  font-family: "Playfair Display Regular", serif;
  font-size: 30px;
  color: #626262;
}

.lastart {
  margin-bottom: 56px;
}

div {
  text-align: center;
}

button {
  margin-bottom: 70px;
  width: 164px;
  height: 60px;
  font-size: 20px;
  font-family: "PlayfairDisplay", serif;
  background-color: #ffffff;
  color: #626262;
  border-width: 1px;
  border-color: #626262;
  border-style: solid;
}
